@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');

/*@font-face {
  font-family:'Gill Sans MT Pro Light';
  src: url('../fonts/GillSansMTPro-Light.eot');
  src: url('../fonts/GillSansMTPro-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GillSansMTPro-Light.woff2') format('woff2'),
      url('../fonts/GillSansMTPro-Light.woff') format('woff'),
      url('../fonts/GillSansMTPro-Light.ttf') format('truetype'),
      url('../fonts/GillSansMTPro-Light.otf') format('truetype'),
      url('../fonts/GillSansMTPro-Light.svg#GillSansMTPro-Light') format('svg');
  font-style: normal;
}

@font-face {
  font-family:'Gill Sans MT Pro Bold';
  src: url('../fonts/GillSansMTPro-Bold.eot');
  src: url('../fonts/GillSansMTPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GillSansMTPro-Bold.woff2') format('woff2'),
      url('../fonts/GillSansMTPro-Bold.woff') format('woff'),
      url('../fonts/GillSansMTPro-Bold.ttf') format('truetype'),
      url('../fonts/GillSansMTPro-Bold.otf') format('truetype'),
      url('../fonts/GillSansMTPro-Bold.svg#GillSansMTPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family:'Helvetica Neue LT Std';
  src:url('../fonts/HelveticaNeueLTStd-Lt.eot');
  src:url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
      url('../fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
      url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family:'Helvetica Neue LT Std Cn';
  src:url('../fonts/HelveticaNeueLTStd-LtCn.eot');
  src:url('../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLTStd-LtCn.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLTStd-LtCn.woff') format('woff'),
      url('../fonts/HelveticaNeueLTStd-LtCn.ttf') format('truetype'),
      url('../fonts/HelveticaNeueLTStd-LtCn.svg#HelveticaNeueLTStd-LtCn') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family:'Helvetica Neue LT Std Thin';
  src: url('../fonts/HelveticaNeueLTStd-ThCn.eot');
  src: url('../fonts/HelveticaNeueLTStd-ThCn.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStd-ThCn.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-ThCn.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-ThCn.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-ThCn.svg#HelveticaNeueLTStd-ThCn') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family:'Helvetica Neue LT Std Bold';
  src: url('../fonts/HelveticaNeueLTStd-BdCn.eot');
  src: url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg');
  font-weight: bold;
  font-style: normal;
}
*/

/*@font-face {
  font-family:'Helvetica Neue LT Std Bold Heavy';
  src: url('../fonts/HelveticaNeueLTStd-HvCn.eot');
  src: url('../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStd-HvCn.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-HvCn.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-HvCn.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-HvCn.svg#HelveticaNeueLTStd-HvCn') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family:'Helvetica Neue LT Std Md';
  src: url('../fonts/HelveticaNeueLTStd-Md.eot');
  src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
  font-weight: 500;
  font-style: normal;
}*/
/* devanagari */
/*@font-face {
  font-family:'Poppins Light';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}*/
/* latin-ext */
/*@font-face {
  font-family:'Poppins Light';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}*/
/* latin */
/*@font-face {
  font-family:'Poppins Light';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/
/* devanagari */
/*@font-face {
  font-family:'Poppins Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}*/
/* latin-ext */
/*@font-face {
  font-family:'Poppins Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}*/
/* latin */
/*@font-face {
  font-family:'Poppins Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/
/* devanagari */
/*@font-face {
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}*/
/* latin-ext */
/*@font-face {
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}*/
/* latin */
/*@font-face {
  font-family: 'Poppins Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}*/
/* devanagari */
/*@font-face {
  font-family:'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}*/
/* latin-ext */
/*@font-face {
  font-family:'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}*/
/* latin */
/*@font-face {
  font-family:'Poppins Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Montserrat-SemiBold.woff') format('woff'), 
  url('../fonts/Montserrat-SemiBold.ttf')  format('truetype'), 
  url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.ttf')  format('truetype'), 
  url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Montserrat-Light.otf')  format('opentype'),
  url('../fonts/Montserrat-Light.woff') format('woff'), 
  url('../fonts/Montserrat-Light.ttf')  format('truetype'), 
  url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: 'FuturaBT-MediumCondensed';
  src: url('../fonts/FuturaBT-MediumCondensed.eot?#iefix')   format('embedded-opentype'),  
  url('../fonts/FuturaBT-MediumCondensed.woff')   format('woff'), 
  url('../fonts/FuturaBT-MediumCondensed.ttf')  format('truetype'), 
  url('../fonts/FuturaBT-MediumCondensed.svg#FuturaBT-MediumCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FuturaBT-Book';
  src: url('../fonts/FuturaBT-Book.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/FuturaBT-Book.woff') format('woff'), 
  url('../fonts/FuturaBT-Book.ttf')  format('truetype'), 
  url('../fonts/FuturaBT-Book.svg#FuturaBT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Museo-500';
  src: url('../fonts/Museo-500.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Museo-500.otf')  format('opentype'),
  url('../fonts/Museo-500.woff') format('woff'), 
  url('../fonts/Museo-500.ttf')  format('truetype'), 
  url('../fonts/Museo-500.svg#Museo-500') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Museo-700';
  src: url('../fonts/Museo-700.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Museo-700.otf')  format('opentype'),
  url('../fonts/Museo-700.woff') format('woff'), 
  url('../fonts/Museo-700.ttf')  format('truetype'), 
  url('../fonts/Museo-700.svg#Museo-700') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MuseoSlab-300';
  src: url('../fonts/MuseoSlab-300.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/MuseoSlab-300.woff') format('woff'), 
  url('../fonts/MuseoSlab-300.ttf')  format('truetype'), 
  url('../fonts/MuseoSlab-300.svg#MuseoSlab-300') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'), 
  url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), 
  url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/ProximaNova-Semibold.otf')  format('opentype'),
  url('../fonts/ProximaNova-Semibold.woff') format('woff'), 
  url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'), 
  url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaT-Thin';
  src: url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/ProximaNovaT-Thin.otf')  format('opentype'),
  url('../fonts/ProximaNovaT-Thin.woff') format('woff'), 
  url('../fonts/ProximaNovaT-Thin.ttf')  format('truetype'), 
  url('../fonts/ProximaNovaT-Thin.svg#ProximaNovaT-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gibson-Bold';
  src: url('../fonts/Gibson-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Gibson-Bold.woff') format('woff'), 
  url('../fonts/Gibson-Bold.ttf')  format('truetype'), 
  url('../fonts/Gibson-Bold.svg#Gibson-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Gibson-Regular';
  src: url('../fonts/Gibson-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Gibson-Regular.woff') format('woff'), 
  url('../fonts/Gibson-Regular.ttf')  format('truetype'), 
  url('../fonts/Gibson-Regular.svg#Gibson-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


