@import url('./assets/css/bootstrap.min.css');
@import url('./assets/css/fontawesome-all.min.css');
@import url('./assets/css/fonts.css');
@import url('./assets/css/global.css');
@import url('./assets/css/mobile.css');
@import url('./assets/css/slick-theme.css');
@import url('./assets/css/slick.css');
@import url('./assets/css/style.css');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/********* loader starts***********/
.loader{  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 9999;
  background-color: #00000091;
  top:0;

}
/************ loader ends **************/